<div class="w-100 h-100 d-flex justify-content-center m-auto">
    <div class="centered-element">
        <div class="card p-2" style="min-height: 10em;min-width: 40vw;">
            <div class="text-center mb-4">
                <i class="far fa-ban text-danger fa-stack fa-2x"></i>
            </div>
            <p class="text-center text-danger big-font">
                شما مجوز دسترسی به این صفحه را ندارید . برای دسترسی به این صفحه با مدیر سیستم تماس بگیرید
            </p>
        </div>
    </div>
</div>